
<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <h1>LOGIN</h1>
        <div class="form">
            <p>USERNAME:</p>
            <input type="text" placeholder="username">
            <p>PASSWORD:</p>
            <input type="password" placeholder="password">
        </div>
        <div class="button">
            <button type="submit" id="btnLog">Login</button>
            <button type="button">Register</button>
        </div>
    </body>
    
</html>