body{background:lightblue;}
.form{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.btnLog{
    padding: 12px 0;
    background: azure;
    border-radius: 30%;
}